@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.App{
    min-height: 100vh;
    max-width: 100vh;
    display: flex;
    /* background-image: url(''); */
    background-size: cover;
    background-position: center;
}